@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#headerSec {
    position: relative;
}

nav {
    height: 12.3em;
    padding: 0 8.5em;
}

nav img {
    width: 17.2em;
    height: 6.6em;
}

nav ul {
    margin: 0;
    padding: 0;
    gap: 2em;
    font-size: 2.4rem;
    color: white;
}

.hero {
    height: 73.5em;
}

.docPic {
    /* width: 100%; */
    padding-top: 2.9em;
    padding-left: 13em;
    /* width: 54.4em; */
    /* height: 70.5em; */
    /* background-size: contain; */
}

.docPic img {
    width: 54.4em; 
    height: 70.5em;
    /* width: 100%; */
    /* height: 100%; */
    
}


.rightHeaderInfo {
    flex-grow: 1;
    padding-top: 6.5em;
    padding-left: 7.45em;
}

.topHeaderInfo {
    height: 38.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.klinikHanita h1 {

    font-size: 9.6rem;
    font-weight: bold;
}

.headerDiscription {
    width: 78.5rem;
    font-size: 2.4rem;

}

.button1 {
   width: 24rem; 
   padding: 0.8em 0.4em;
   gap: 1.4em;
    /* height: 5.7rem; */
    /* display: inline-flex; */
}

.button1 h2 {
    font-weight: bolder;
    font-size: 2rem;
}

.timeInfo h2 {
    font-size: 2.4rem;
    /* letter-spacing: 0.075rem; */

}

.timelist {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.075rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact svg {

    padding-top: 0.5rem;
}

.contactList {
    padding-left: 5rem;
}



.emailInfo h2 , h3 {
    font-size: 2.4rem;
    letter-spacing: 0.075rem;
}

.phoneInfo {
    font-size: 2.4rem;
    letter-spacing: 0.075rem;
}

.phone svg {
    padding-top: 0.5rem;
}








#promotionSec {
    height: 113.3em;
}

.infoBoxSec1 {
    width: 100%;
    height: 28.4em;
    position: absolute;
    bottom: 0;
    z-index: -1;

}