html *{
    font-family: 'Montserrat', sans-serif;
}


body {
    position: relative;
    height: 200vh;
}


#navigationbar {
    background-color: rgba(145, 40, 141, 1);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

#navbar-default {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: rgba(145, 40, 141, 1);
    font-size: 10pt;
 

}

ion-icon {
    color: white;
}

.dr_hanita {
    height: 450px;
}

#headerpage {
    background-image: linear-gradient(180deg, rgba(145, 40, 141, 1), rgba(207, 161, 205, 1));
    margin-top: 80px;
    padding: 0;
    align-items: start;
    position: relative;
}


#largeText {
    align-content: first baseline;
    padding-left: 30px;
}

#information {
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: rgba(145, 40, 141, 0.47);
    height: 160px;
    width: 100%;
    padding-left: 70vh;
    padding-top: 15px;
}

#information2 {
    z-index: 0.5;
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 160px;
    width: 100%;
    

}